<!--
Copyright 2020 Allanic.me ISC License License
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
Created by Maxime Allanic <maxime@allanic.me> at 26/03/2020
-->

<html ng-app="main" lang="en">
    <head>
        <% if (typeof title !== 'undefined') { %>
        <title><%= title %></title>
        <% } %>
        <base href="/">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <% _.forEach(metas, function (metaValue, metaKey) { %>
        <meta name="<%= metaKey %>" content="<%= metaValue %>">
        <% }) %>

        <link href="/bundle.min.css" rel="stylesheet" media="all" type="text/css">
        <script src="/bundle.min.js" type="text/javascript" async defer></script>
        <script src="/socket.io/socket.io.js" type="text/javascript" async defer></script>
    </head>
    <body>
        <%= body %>
    </body>
</html>